@import url(../../../global/variables.css);

.pinyin-game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 0;
}

.pinyin-game-box {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 5px;
    border: var(--border-thickness-min) solid #000;
}

.pinyin-game-box-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: var(--gray-min);
    cursor: pointer;
}

.pinyin-game-box-box {
    cursor: pointer;
    user-select: none;
}

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--gray-med);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.align-grid-middle {
    place-items: center;
}

.play-button {
    scale: 2;
    color: var(--white-full);
}

/* Add this style to your CSS file */
.correct {
    animation: correctAnimation 1s ease;
    background-color: green;
}

.incorrect {
    animation: incorrectAnimation 1s ease;
    background-color: red;
}

@keyframes correctAnimation {
    from {
        background-color: transparent;
    }
    to {
        background-color: green;
    }
}

@keyframes incorrectAnimation {
    from {
        background-color: transparent;
    }
    to {
        background-color: red;
    }
}
