@import url(../../../../global/variables.css);

.article-wrapper {
    position: relative;

    min-height: 100vh;
    width: 100%;

    font-family: 'Noto';
    color: var(--white-full);
}

.article-title-div {
    min-height: 30vh;
    padding-top: 5vh;

    background-image: url('../../../assets/images/bg_circles.svg');
    background-color: var(--gray-med);
    background-blend-mode: multiply;
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.article-title {
    font-size: 50px;
    font-family: 'Montserrat';
    text-shadow: 2px 5px 7px rgba(0, 0, 0, 0.6);
}

.article-main-contents {
    width: 100%;
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-of-contents-wrapper {
    flex-basis: 30%;
    height: auto;
    min-height: 100px;

    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.article-body-wrapper {
    flex-basis: 40%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

.article-ads-wrapper {
    flex-basis: 30%;
    height: 50vh;
    min-height: 250px;

    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.table-of-contents {
    flex-grow: 0.2;
    flex-shrink: 1;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 200px;
    padding-bottom: 10px;

    overflow: hidden;

    background-color: var(--gray-med);
    color: var(--white-full);
}

.table-of-contents p {
    padding-left: 10px;

    word-wrap: break-word;

    font-size: 15px;
    letter-spacing: 1px;
}

.article-body {
    flex-grow: 1;

    background-color: var(--gray-med);

    padding: 1% 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-body p {
    font-size: 18px;
    color: var(--white-med);
}

.article-body h3 {
    font-family: 'Montserrat';
}

.article-body li {
    font-size: 20px;
}

.article-body ul p {
    margin: 0;
    margin-bottom: 5px;
}

.article-center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-center-div p {
    margin: 0;
    margin-bottom: 10px;
}

.cn-font {
    font-family: 'Noto';
}

.highlight {
    color: var(--white-min);
}

.highlight-max {
    color: var(--white-full);
}

.article-tab-header {
    color: var(--white-med);
}

.article-tab {
    color: var(--white-min);
    cursor: pointer;
    letter-spacing: 0px;
    margin-left: 20px;
}

.article-tab:hover {
    color: var(--white-full);
}

.article-ads {
    flex-grow: 0.5;
    margin-left: 10px;
    margin-top: 10px;

    background-color: transparent;
}

.article-link {
    color: var(--hyper-link);
    text-decoration: none;
}

.article-link:hover {
    text-decoration: underline;
}

/*Make it go to the side all the way*/
@media (max-width: 1500px) {
    .article-ads-wrapper {
        display: none;
    }

    .article-body-wrapper {
        flex-basis: 100%;
    }
}
/*Make it all one column*/
@media (max-width: 768px) {
    .article-title-div {
        min-height: 15vh;
    }
    .table-of-contents-wrapper {
        display: none;
    }

    .article-body-wrapper {
        flex-basis: 100%;
    }
    .article-body {
        padding-left: 20px;
        padding-right: 20px;
    }
}
