@import url('../../../global/variables.css');

.chinese-word {
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--fore-two);
    cursor: default;
}

.chinese-word:hover {
    background-color: var(--fore-three);
}

.annotation-tooltip {
    max-width: 200px;
    height: auto;

    position: absolute;
    pointer-events: none;

    border-radius: var(--rounded-max);

    background-color: var(--back-three);
    border: var(--border-thickness-max) solid var(--fore-two);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);

    padding: 10px;
}

.annotation-tooltip p {
    color: var(--fore-one);
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;

    font-family: 'Noto';
    font-weight: 600;
    letter-spacing: normal;
}

.annotation-top-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.annotation-top-info p:last-child {
    margin-top: 5px !important;
}

.annotation-bottom-info {
    display: flex;
    width: 100%;
    flex-direction: row;

    align-items: center;
}

.annotation-icon {
    scale: 0.7;
}

.annotation-tooltip p:last-child {
    margin-top: 5px;
    font-size: 10px;
    text-align: start;
    margin-left: 5px;
}
