@import url('../../../global/variables.css');

.search-page-contents {
    background-image: url('../../../assets/images/bg_circles.svg');
    background-color: var(--back-one);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: 120%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.search-search-box {
    margin-top: 14vh;
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
    border: var(--border-thickness-max) solid var(--fore-two);
    border-radius: var(--rounded-max);
    overflow: hidden;
}

.search-search-box input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: var(--rounded-max);
    background-color: var(--back-two);
    box-sizing: border-box;
    padding-left: 30px;
    color: var(--fore-one);
}

.search-search-settings-btn {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    color: var(--acc-one);
    border: none;
    padding: 15px;
    cursor: pointer;
}

.search-search-box input::placeholder {
    padding: 0px;
    color: var(--fore-two);
    padding-left: 0px;
}

.search-search-settings-btn:hover {
    color: var(--acc-two);
}

.hsk-levels-wrap {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hsk-levels {
    position: absolute;
    margin-top: 17vh;
    margin-left: -200px;
    width: 200px;
    padding: 20px 0px;
    background-color: var(--back-two);
    border: var(--border-thickness-max) solid var(--fore-two);
    border-radius: var(--rounded-max);
    font-family: 'Noto';
    font-weight: 400;
}

.hsk-levels h1 {
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}

.hsk-levels form {
    display: flex;
    flex-direction: column;
}

.hsk-levels label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: var(--border-thickness-max) solid var(--fore-one);
    margin-left: 8px;
}

.hsk-levels input[type='radio'] {
    display: none;
}

.hsk-levels input[type='radio'] + .custom-radio {
    position: absolute;
    right: 10px;
}

.hsk-levels input[type='radio']:checked + .custom-radio {
    background-color: var(--acc-one);
    border-color: var(--fore-one);
}

.hsk-levels label:hover {
    background-color: var(--back-three);
}

.search-grid-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
    width: 100%;
    background-color: var(--back-one);
    border-radius: var(--rounded-max);
}

.search-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.search-grid-item {
    width: calc(33.333% - 16px);
    padding: 0px 30px;
    box-sizing: border-box;
    border: var(--border-thickness-min) solid var(--fore-two);
    border-radius: var(--rounded-min);
    background-color: var(--back-two);
    margin-bottom: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-size: 18px;
    font-family: 'Noto';
    color: var(--fore-one);
    text-shadow: 2px 5px 7px rgba(0, 0, 0, var(--text-shadow-val));
}

.grid-item p:first-child {
    text-align: left;
}

.outer-grid-wrapper {
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.outer-grid-wrapper h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    font-family: 'Noto';
    font-weight: 600;
    font-size: 30px;
}

.search-grid-item:hover {
    border-color: var(--acc-one);
}

@media (max-width: 1450px) {
    .search-search-box {
        width: 80%;
    }

    .outer-grid-wrapper {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .search-page-contents {
        background-size: 300%;
    }

    .search-search-box {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .search-grid-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .search-grid-item {
        width: 100%;
        padding: 0px 20px;
    }

    .outer-grid-wrapper {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .outer-grid-wrapper h1 {
        padding: 0px 25px;
    }

    .search-search-settings-btn {
        right: 5px;
    }

    .search-search-box input {
        padding-left: 15px;
    }
}
