@import url('../../../global/variables.css');

.toggle-button-container {
    display: flex;
    
  }
  
  .toggle-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    line-height: 1;
    min-width: 150px;
    box-sizing: border-box; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    background-color: var(--gray-full);
    color: var(--white-full);
  }
  
  .toggle-button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .toggle-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .toggle-button.selected {
    background-color: var(--brand-two);
    color: var(--white-full);
  }

  @media (max-width: 768px) {
    .toggle-button {
      min-width: 15px;
      font-size: 10px;
    }
  }

  @media (max-width: 550px) {
    .toggle-button {
      max-width: 30px;
      font-size: 10px;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 388px) {
    .toggle-button {
      max-height: 50%;
    }
  }